.img-logo{
    width: 500px !important;
    height: auto !important;
}
body{
    background: linear-gradient(to right,purple,rgb(33, 105, 249));
}
form p{
    margin-left: 10px;
    font-size: 13px !important;
    text-align: left;
    color: red;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.option{
    padding: 10px 150px;
}
ul{
    list-style: none;
}